html,
body,
#react-page {
  width: 100%;
  height: 100%;
  margin: 0;

  font: {
    family: 'Inter', sans-serif;
    size: var(--font-size);
    weight: 400;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Inter.ttf')
}
